.section {
  max-width: 1240px;
  margin: 40px auto 0;
}

.blocks {
  display: flex;
  column-gap: 60px;
}

.orders {
  width: 600px;
}

.items {
  display: flex;
  column-gap: 36px;
}

.order_numbers {
  max-height: 152px;
  display: flex;
  flex-direction: column;
  row-gap: 8px; 
  overflow-y: scroll;
}

.order_numbers::-webkit-scrollbar {
  width: 8px;
}

.order_numbers::-webkit-scrollbar-track {
  background: #2f2f37;
}

.order_numbers::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.order_numbers_ready {
  color: #00CCCC;
}

.ready {
  min-width: 272px;
}

.inProgress {
  min-width: 272px;
}
