.sections {
  display: flex;
  column-gap: 44px;
  justify-content: center;
  margin-top: 40px;
}

.login {
  width: 100%;
  min-height: calc(100vh - 108px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  width: 100%;
  min-height: calc(100vh - 108px);
  display: flex;
  justify-content: center;
  align-items: center;
}
