.form {
  composes: form from "../../pages/forms.css";
}
.already_exist {
  display: flex;
  margin: 72px 0 0;
  column-gap: 8px;
  justify-content: center;
}

.log_in {
  color: #4c4cff;
  transition: all 0.1s linear;
}

.log_in:hover {
  color: #fff;
  cursor: pointer;
}