.header {
  display: flex;
  padding: 18px 0;
  justify-content: center;
  background-color: #1c1c21;
}

.account {
  display: flex;
  align-items: center;
  margin-left: 310px;
}

.link_disables {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: #8585ad;
  transition: color 0.1s linear;
}

.link_disables + .link_disables {
  margin-left: 49px;
}

.link_disables:hover {
  color: #fff;
}

.link_active {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  cursor: auto;
}
