.items {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin: 32px 0 20px;
}

.item {
  display: flex;
  flex-direction: column;
}

.image {
  height: 240px;
  width: 480px;
}

.title {
  text-align: start;
}